*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    font-family: "Inter",sans-serif;
    font-size: 16px;
    font-weight: 400;
}
/* menubar */
.menubar{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  margin-top: 30px;
}
.header-menu{
    position: relative;
    z-index: 999;
}
.header-menu ul li{
    display: inline-block;
    margin-left: 30px;
}
.header-menu ul li a{
    line-height: 19px;
    text-transform: capitalize;
    color: #1D1D1F;
}
.navbar-brand{
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #06C167 !important;
}
.toggle{
    position: relative;
    height: 35px;
    width: 40px;
    display: none;
    color: #06C167;
    border: 1px solid #06C167;
}
.toggle .fa-bars{
    position: absolute;
    top: 9px;
    left: 12px;
}
/* Hero Section */
.hero__section{
    position: relative;
}
.hero__container{
    background-color: #F3FCF7;
}
.hero-container-left-section{
    padding-top: 200px;
}
.hero-container-left-section h1{
    font-weight: 600;
    font-size: 75px;
    line-height: 91px;
    color: #1D1D1F;
    text-transform: capitalize;
}
.hero-container-left-section p{
    line-height: 23px;
    color: rgba(29, 29, 31, 0.75);
}
.hero-container-left-section a{
    width: 200px;
    height: 68px;
    background: #06C167;
    color: #FFFFFF !important;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    margin-top: 30px;
}
.fa-arrow-right{
    margin-left: 10px;
}
.hero-container-right-section{
    position: relative;
    padding-top: 150px;
    z-index: 1;
}
.hero-container-right-section-main-img{
    margin-left: 35px;
}
.hero-container-right-section .letter-01,
.hero-container-right-section .letter-02{
    width: 230px;
    height: 53px;
    background: #FFFFFF;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-container-right-section .letter-01{
    position: absolute;
    top: 44%;
    right: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.hero-container-right-section .letter-01 span,
.hero-container-right-section .letter-02 span{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #1D1D1F;
}
.hero-container-right-section .letter-01 span img{
    position: relative;
    left: -10px;
}
.hero-container-right-section .letter-02 span i{
    color: #06C167;
}
.hero-container-right-section .letter-02{
    position: absolute;
    top: 58%;
    left: -58px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/*Hero Footer Section*/
.hero-footer-section{
    position: relative;
    top: -114px;
    background: #FFFFFF;
    padding: 39px 0;
}
.hero-footer-item-01,
.hero-footer-item-02,
.hero-footer-item-03{
    display: inline-block;
    margin-right: 50px;
}
.hero-footer-item-01 span{
    text-transform: uppercase;
}
.hero-footer-item-03:last-child{
    margin-right: 0;
}

.hero-container-right-section::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: -26PX;
    width: 200px;
    height: 150px;
    background-image: url(./images/Polcadot.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 2;
}
/*Services Section*/
.border-section{
    border-top: 2px solid rgba(112, 112, 112, 0.15);
    border-bottom: 2px solid rgba(112, 112, 112, 0.15);
    padding: 50px 0;
}
.service-item-01-container,
.service-item-02-container,
.service-item-03-container,
.service-item-04-container{
    position: relative;
}
.service-item-01,
.service-item-02,
.service-item-03,
.service-item-04{
    position: relative;
}
.service-item-01-img-container,
.service-item-02-img-container,
.service-item-03-img-container,
.service-item-04-img-container{
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background: #F3FCF7;
}
.service-item-01-img-container img,
.service-item-02-img-container img,
.service-item-03-img-container img,
.service-item-04-img-container img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.service-item-01-details,
.service-item-02-details,
.service-item-03-details,
.service-item-04-details{
    position: absolute;
    top: 13px;
    left: 90px;
}
.service-item-01-details h1,
.service-item-02-details h1,
.service-item-03-details h1,
.service-item-04-details h1{
    font-size: 18px;
    line-height: 22px;
    color: #1D1D1F;
}
.service-item-01-details p,
.service-item-02-details p,
.service-item-03-details p,
.service-item-04-details p{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #1D1D1F;
    opacity: 0.75;
}
/*Our Benefit Section*/
.benefit__section{
    position: relative;
    padding: 100px 0;
}
.benefit-img-container{
    position: relative;
    text-align: center;
    background: #F3FAFB;
    padding-bottom: 60px;
}
.benefit-details-container{
    position: relative;
    padding-top: 120px;
}
.benefit-details-container img{
    position: absolute;
    top: 35%;
    left: 0;
    z-index: -1;
}
.benefit-details-container p{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-transform: capitalize;
    color: #1D1D1F;
    margin-left: 40px;
}
.benefit-details-container h1{
    font-weight: 500;
    font-size: 50px;
    line-height: 73px;
    text-transform: capitalize;
    color: #1D1D1F;
    margin-bottom: 50px;
    margin-left: 40px;
}
.benefit-details-container ul{
    margin-left: 40px;
}
.benefit-details-container ul li{
    text-transform: capitalize;
    line-height: 19px;
    color: #1D1D1F;
    margin-bottom: 15px;
}
.fa-check{
    margin-right: 10px;
    color: #06C167;;
}
/*=Stars Section=== */
.our__stars__section{
    position: relative;
}
.stars-details-container{
    position: relative;
    padding-top: 100px;
}
.stars-details-container img{
    position: absolute;
    top: 30%;
    left: -50px;
    z-index: -1;
}
.stars-details-container p{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #1D1D1F;
    margin-bottom: 40px;
}
.stars-details-container h1{
    font-weight: 500;
    font-size: 60px;
    line-height: 73px;
    color: #1D1D1F;
}
.stars-img-container{
    background: #F3FAFB;
    text-align: right;
}
.stars-img-container img{
    padding-bottom: 90px;
}
.stars-details-container-footer{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.stars-details-container-footer h1{
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #06C167;
}
.stars-details-container-footer p{
    font-size: 15px;
    line-height: 18px;
    color: #1D1D1F;
    opacity: 0.65;
    text-transform: capitalize;
}
.stars-btn{
    width: 233px;
    height: 79px;
    background: #06C167;
    text-align: center;
}
.stars-btn a{
    line-height: 73px;
    color: #FFFFFF !important;
}
.our__stars__section__mobile{
    display: none;
}
/*=Product Section=*/
.product-header{
    margin-bottom: 50px;
}
.product-header p{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #1D1D1F;
}
.product-header h1{
    font-weight: 500;
    font-size: 60px;
    line-height: 73px;
    color: #1D1D1F;
}
.product-container-01,
.product-container-02,
.product-container-03,
.product-container-04{
    border: 1px solid rgba(118, 118, 117, 0.25);
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    transition: all 0.5s ease;
}
.product-container-01:hover,
.product-container-02:hover,
.product-container-03:hover,
.product-container-04:hover{
    border: 1px solid #06C167;
}
.product-review{
    color: #06C167;
}
.product-details p{
    font-size: 20px;
    line-height: 24px;
    color: #1D1D1F;
    margin-top: 10px;
}
.product-price{
    margin-bottom: 50px;
}
.befor-price,
.after-price{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
.befor-price{
    color: #767675;
}
.after-price{
    color: #06C167;
    text-decoration: none;
    margin-left: 10px;
}
.product-button{
    height: 57px;
    width: 177px;
    border: 1px solid #06C167;
    position: relative;
    margin: auto;
    margin-top: 10px;
}
.product-button a{
    line-height: 55px;
    color: #06C167;
}
/*Feature Section=*/
.feature__section{
    padding: 100px 0;
}
.feature-header{
    text-align: center;
}
.feature-container{
    border: 1px solid #06C167;
    margin-top: 50px;
    padding: 0 12px;
}
.feature-img{
    position: relative;
    /* border: 1px solid #06C167; */
}
.feature-img img{
    position: relative;
    width: 100%;
    height: auto;
}
.feature-details{
    position: relative;
    background: #F3FCF7;
    border: 1px solid #06C167;
    padding: 30px;
    height: 100%;
}
.feature-details h3{
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-transform: capitalize;
    color: #1D1D1F;
    margin-bottom: 20px;
}
.feature-btn{
    width: 148px;
    height: 42px;
    background: #E6F9F0;
    text-align: center;
}
.feature-btn a{
    font-weight: 500;
    font-size: 15px;
    line-height: 40px;
    color: #06C167;
}
.feature-responsive-04{
    display: none;
}
.feature-responsive-07{
    display: none;
}
/*Veggi Food Section=*/
.veggie__food__section{
    position: relative;
    padding: 100px 0;
}
.veggie-food-container{
    background-image: url(./images/Rectangle\ 8.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 120px;
    text-align: center;
}

.veggie-food-container h1{
    font-weight: 600;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.veggi-button{
    width: 210px;
    height: 80px;
    position: relative;
    margin: auto;
    background: #06C167;
}
.veggi-button a{
    line-height: 80px;
    color: #FFFFFF;
}
/*==Footer Section== */
.footer-first-container{
    position: relative;
}
.footer-first-container h1{
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #06C167;
    margin-bottom: 30px;
}
.footer-first-container p,
.footer-fourth-container p{
    line-height: 19px;
    color: #1D1D1F;
    margin-bottom: 40px;
}
.footer-social-container a{
    color: #1D1D1F;
    margin-right: 10px;
}
.footer-second-container h1,
.footer-third-container h1,
.footer-fourth-container h1{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #1D1D1F;
    margin-bottom: 30px;
}
.footer-second-container ul li ,
.footer-third-container ul li{
    margin-bottom: 7px;
}
.footer-second-container ul li a,
.footer-third-container ul li a{
    line-height: 19px;
    color: #1D1D1F !important;
}
.footer-subscribe-section{
    position: relative;
}
input[type=email]{
    width: 100%;
    height: 50px;
    background: #F0F1EC;
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 17px;
    color: #1D1D1F;
    opacity: 0.51;
    padding: 0 128px 0 10px;
}
input[type=button]{
    position: absolute;
    right: 0;
    width: 118px;
    height: 50px;
    background: #06C167;
    color: #FFFFFF;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
/*==Copyright Section=*/
.copyright__section{
    padding: 40px 0 20px 0;
    text-align: center;
}
.copyright__section p{
    line-height: 19px;
    color: #1D1D1F;
}
.creator{
    text-transform: uppercase;
    color: #06C167 !important;
}